Repository rikardoricz/daily-quote-go, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, chore

feat: add nginx ingress controller
  deployments/helm/daily-quote-go/templates/ingress.yaml
  deployments/helm/daily-quote-go/values.yaml
  deployments/terraform/modules/helm/main.tf
Labels: none

chore: bump chart version
  deployments/helm/daily-quote-go/Chart.yaml
Labels: none

feat: add ingress nginx (#29)
  deployments/helm/daily-quote-go/Chart.yaml
  deployments/helm/daily-quote-go/templates/ingress.yaml
  deployments/helm/daily-quote-go/values.yaml
  deployments/terraform/modules/helm/main.tf
Labels: none

feat: change button color to violet
  web/template/index.html
Labels: none

chore: bump version
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
Labels: none

feat: change button color to violet (#32)
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

feat: add cert manager
  deployments/k8s/certificate.yaml
  deployments/k8s/ingress.yaml
  deployments/k8s/issuer.yaml
  deployments/terraform/modules/helm/main.tf
Labels: none

feat(k8s): define canary deployment via flagger
  deployments/k8s/canary.yaml
Labels: none

ci: infrastructure setup via actions
  .github/workflows/infra-setup.yml
Labels: chore

ci: add pr branch check
  .github/workflows/pr-branch-check.yml
Labels: chore

feat: canary deployment and cert manager setup (#34)
  .github/workflows/infra-setup.yml
  .github/workflows/pr-branch-check.yml
  deployments/k8s/canary.yaml
  deployments/k8s/certificate.yaml
  deployments/k8s/ingress.yaml
  deployments/k8s/issuer.yaml
  deployments/terraform/modules/helm/main.tf
Labels: chore

feat: change button color to pink/red
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

feat: change button color to pink/red (#35)
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

Canary deployment setup, cert manager setup, infra pipelines and button color change (#36)
  .github/workflows/infra-setup.yml
  .github/workflows/pr-branch-check.yml
  deployments/helm/daily-quote-go/Chart.yaml
  deployments/k8s/canary.yaml
  deployments/k8s/certificate.yaml
  deployments/k8s/ingress.yaml
  deployments/k8s/issuer.yaml
  deployments/terraform/modules/helm/main.tf
  version/version.go
  web/template/index.html
Labels: chore

fix(flagger): remove acceptance test
  deployments/k8s/canary.yaml
Labels: none

ci: install jenkins via helm on aks
  .github/workflows/infra-setup.yml
Labels: chore

fix: specify correct for terraform to reference config files
  .github/workflows/infra-setup.yml
Labels: chore

fix: specify correct for terraform to reference config files (#39)
  .github/workflows/infra-setup.yml
Labels: chore

Fix flagger and add jenkins installation via helm (#38)
  .github/workflows/infra-setup.yml
  deployments/k8s/canary.yaml
Labels: chore

fix(ci): fix path to terraform files
  .github/workflows/infra-setup.yml
Labels: chore

fix: path to terraform files in actions workflow file (#40)
  .github/workflows/infra-setup.yml
Labels: chore

FIx flagger & terraform path in actions file (#41)
  .github/workflows/infra-setup.yml
Labels: chore

fix: terraform oidc actions
  .github/workflows/infra-setup.yml
Labels: chore

fix: terraform actions (#42)
  .github/workflows/infra-setup.yml
Labels: chore

fix: terraform actions (#43)
  .github/workflows/infra-setup.yml
Labels: chore

fix(ci): update jenkins parameters in actions workflow file
  .github/workflows/infra-setup.yml
Labels: chore

fix(ci): reapply k8s ingress resource in action
  .github/workflows/release.yml
Labels: chore

fix actions (#44)
  .github/workflows/infra-setup.yml
  .github/workflows/release.yml
Labels: chore

fix(ci): make k8s yaml idempotent
  .github/workflows/infra-setup.yml
Labels: chore

fix(ci): make k8s yaml idempotent (#45)
  .github/workflows/infra-setup.yml
Labels: chore

chore: add diagram & update README.md
  README.md
  assets/diagram.png
Labels: Documentation

chore: add diagram & update README.md (#46)
  README.md
  assets/diagram.png
Labels: Documentation

feat: color change & version bump
  deployments/helm/daily-quote-go/Chart.yaml
  deployments/k8s/canary.yaml
  version/version.go
  web/template/index.html
Labels: none

Color change & version bump (#47)
  deployments/helm/daily-quote-go/Chart.yaml
  deployments/k8s/canary.yaml
  version/version.go
  web/template/index.html
Labels: none

Change button color & version bump (#48)
  deployments/helm/daily-quote-go/Chart.yaml
  deployments/k8s/canary.yaml
  version/version.go
  web/template/index.html
Labels: none

feat: change button color & bump version
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

Change button color & bump version (#49)
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

Change button color to black & bump version (#50)
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

fix: limit requests to public api via local caching
  cmd/main.go
  deployments/helm/daily-quote-go/Chart.yaml
  version/version.go
  web/template/index.html
Labels: none

fix: lint
  cmd/main.go
Labels: none

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  - any-glob-to-any-file: docs/**

feature:
  - head-branch: ['^feat', 'feat']

bug:
  - head-branch: ['^fix', 'fix']

chore:
- changed-files:
  - any-glob-to-any-file: '.github/**'
